/*universal styles*/
body {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    color: seashell;
    background-color: black;
    opacity: 0.9; 
}
a{
    color: seashell;
    font-size: 22px;
    padding: 10px 10px;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
main {
    margin-top: 70px;
    text-align: center;
}
h2,
h3,
h4,
h5{
    margin: 10px;
    opacity: 0.9;
}

/*header*/
#top {
    justify-content: space-between;
}
header {
    border-bottom: 1px solid seashell;
    top: 0px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
    height: 69px;
}
nav {
    height: 69px;
    border-bottom: 1px solid seashell;
}
li {
    list-style: none;
    display: inline-block;
    z-index: 0;
    padding: 0 10px;
}
.logo {
    padding: 0 10px;
    height: 50px;
}

/*mission*/
.mission {
    background-image: url('images/img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    opacity: 0.9;
}
.container  {
    margin: auto;
    display: flex;
    justify-content: center;
}

#mission {
    height: 700px;
    width: 1200px;
    background-image: url('images/img-mission-background.jpg');
    display: flex;
    align-items: center;
    opacity: 0.9;
}
.mission-wrapper {
    width: 100%;
    background-color: #000000ff;

}

/*featured*/
.tea img {
    height: 200px;
    width: 300px;
}
figure{
    margin: 10px;
    padding: 0;
}
.featured {
    width: 1000px;
    margin: 70px auto;
    display: inline-block;
}
/*locations*/
.locations h2 {
    background-color: transparent;
    opacity: 0.9;
    padding-top: 70px;
}
.locations {
    background-image: url('images/img-locations-background.jpg');
    height: 500px;
    width: 1200px;
    margin: auto;
    opacity: 0.9;
}
.box {
    opacity: 1;
    width: 300px;
    background-color: black;
    margin: 5px 20px;
    height: 300px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
.box h3,

/*footer*/
footer {
    opacity: 0.9;
    text-align: center;
} 
.contact {
    display: flex;
    height: 200px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
}
.contact h5{
    margin: 15px;
}
#copyright {
    text-align: left;
    margin: 20px 10px;
    width: 100%;
}
